# ignore the generated images
src/utils/data/GTSRB
src/data/
src/logs/
src/model/
src/confusion_matrix/
src/model_evaluation/

# ignore logs
*.txt
*.log

# pycharm files
*.pyc

# idea folder
.idea/
